[submodule "IDS-DRR-Frontend"]
	path = Frontend
	url = git@github.com:CivicDataLab/IDS-DRR-Frontend.git
[submodule "IDS-DRR-Data-Management"]
	path = Data-Management
	url = git@github.com:CivicDataLab/IDS-DRR-Data-Management.git
[submodule "IDS-DRR-QA-Automation"]
	path = QA-Automation
	url = git@github.com:CivicDataLab/IDS-DRR-QA-Automation.git
